h3{
    font-weight: 500;
    font-family: 'Bangers', cursive;
    color: cornflowerblue;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div{
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Bangers', cursive;
    border: solid lightslategrey 20px;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.firstParagraph{
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Bangers', cursive;
border-left: lightgreen solid 5px; 
padding-left: 5px;
}

.secondP{
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
    border-left: lightcoral solid 5px; 
    padding-left: 5px;
    font-weight: 500;
}

hr{width: 3px;

}


